@import '../../assets/styles/styles.scss';

.play {
    width: 100%;

    position: relative;
    margin-top: 3.125rem;

    display: flex;
    flex-direction: column;

    .pentagon {
        position: absolute;
        align-self: center;
        margin-top: 5.375rem;
        width: 473px;
    }

    .items {
        display: flex;
        justify-content: center;

        .icon {
            height: 160px;
            width: 160px;
            border: 18px solid;
            border-radius: 50%;
            transition: transform 0.2s;

            &--rock {
                @include icon($imageR, $rock-gradient);
                transform: translateX(-14rem) translateY(11rem);

                &:hover {
                    transform: translateX(-14rem) translateY(11rem) scale(1.1);
                }
            }
            &--paper {
                @include icon($imageP, $paper-gradient);
                transform: translateX(20rem);

                &:hover {
                    transform: translateX(1.5rem) scale(1.1);
                }
            }
            &--scissors {
                @include icon($imageS, $scissors-gradient);
                transform: translateX(25rem);

                &:hover {
                    transform: translateX(8rem) scale(1.1);
                }
            }
            &--lizard {
                @include icon($imageL, $lizard-gradient);
                transform: translateX(-10rem) translateY(13rem);

                &:hover {
                    transform: translateX(-10rem) translateY(13rem) scale(1.1);
                }
            }
            &--spock {
                @include icon($imageSp, $spock-gradient);
                transform: translateX(-10rem) translateY(13rem);

                &:hover {
                    transform: translateX(-10rem) translateY(13rem) scale(1.1);
                }
            }
        }
    }
}
