<div class="play">
    <img src='../../assets/images/bg-pentagon.svg' alt="" class="pentagon" />
    <div class="items">
        <a routerLink="/game/paper">
            <div data-id="paper" (click)='setChoice()' class="icon icon--paper"></div>
        </a>
        <a routerLink="/game/scissors">
            <div data-id="scissors" (click)='setChoice()' class="icon icon--scissors"></div>
        </a>
        <a routerLink="/game/rock">
            <div data-id="rock" (click)='setChoice()' class="icon icon--rock"></div>
        </a>
        <a routerLink="/game/lizard">
            <div data-id="lizard" (click)='setChoice()' class="icon icon--lizard"></div>
        </a>
        <a routerLink="/game/spock">
            <div data-id="spock" (click)='setChoice()' class="icon icon--spock"></div>
        </a>
    </div>
</div>