// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$rock-paper-scissors-lizard-spock-primary: mat-palette($mat-indigo);
$rock-paper-scissors-lizard-spock-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$rock-paper-scissors-lizard-spock-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$rock-paper-scissors-lizard-spock-theme: mat-light-theme(
    (
        color: (
            primary: $rock-paper-scissors-lizard-spock-primary,
            accent: $rock-paper-scissors-lizard-spock-accent,
            warn: $rock-paper-scissors-lizard-spock-warn,
        ),
    )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($rock-paper-scissors-lizard-spock-theme);

@import './_variables.scss';
@import './_mixin.scss';

@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: #fff;
    background: $background-gradient;
    text-align: center;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: 'Barlow Semi Condensed', 'Helvetica Neue', sans-serif;
}
